# OS and Editor files
.DS_Store
**/.DS_Store
.vscode/
.idea/

# Node.js
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test and coverage
coverage/
.nyc_output/

# Service extensions / local temp
original
accessories
media_cdn_wasm

# Terraform files
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
infra/.terraform*
infra_mcdn/.terraform*
